<%= form_with(model: journal_entry) do |form| %>
  <% if journal_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

      <ul>
        <% journal_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :entry_date, class: "mb-2 block text-gray-700" %>
    <%= form.datetime_field :entry_date %>
  </div>

  <div class="mb-6">
    <%= form.label :body, class: "mb-2 block text-gray-700" %>
    <%= form.text_area :body, class: "bg-white rounded-md border border-gray-200 p-3 focus:outline-none w-full" %>
  </div>

  <div class="mb-6">
    <%= form.submit %>
  </div>
<% end %>
