<section id="<%= dom_id journal_entry %>" class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-1 mx-auto">
    User: <%= journal_entry.user.email %>
    <h2 class="text-xl font-medium text-gray-700 title-font mb-2">
      <!-- 12 Jun 2019 -->
      <%= journal_entry.entry_date %>
    </h2>
    <p class="leading-relaxed">
      <%= journal_entry.body %>
    </p>
    <%= link_to 'Read More', journal_entry, class: "text-yellow-500 inline-flex items-center mt-4" %>
  </div>
</section>
